.pageHeader {
    flex-direction: center;
    text-align: center;
    margin: 1em;
}
.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.shop {
    flex-basis: 25%;
    border: .5px dotted black;
    padding: .5em;
    text-align: left;
}