.shop {
    flex-basis: 20%;
    border: 1px dotted black;
    padding: 1em;
    margin: 0.5em;
    text-align: center;
}
.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}